@model PagedList.IPagedList<Supplier>
@{
    ViewBag.Title = "Quản lý nhà cung cấp";
}

@section pluginStyles
{
	<link href="~/Content/PagedList.css"/>
	<link href="~/Content/AdmGrid.css"/>
}

<h2>Index</h2>

